@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  margin: 0;
  background: #2d25a0;
}
header {
  background: #2d25a0;
}
.navigation {
  width: 1160px;
  height: 44px;
  left: 156px;
  top: 44px;
  padding-top: 36px;
  display: flex;
  list-style-type: none;
}
.menu a {
  color: #ffff;
  margin-left: 36px;
  text-decoration: none;
}
.sign {
  color: white;
  margin-right: 5px;
}
.login {
  color: white;
  margin-left: 550px;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
/* Container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
}
.container .right img {
  width: 556, 01px;
  height: 438px;
  padding-top: 64px;
  margin-left: 25px;
}
#hero .left .heading {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  color: white;
}
#hero .left .heading .wrapper {
  overflow: hidden;
}
#hero .left .heading .wrapper span {
  position: relative;
  bottom: -70px;
  animation: khalid 2s ease-in-out forwards;
}
@keyframes khalid {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 0;
  }
}

.btn {
  background: #e02c6d;
  color: #ffff;
  text-align: center;
  font-size: 15px;
  margin-top: 27px;
  padding: 10px 24px 10px 24px;
  width: 168pxpx;
  height: 24px;
}
.container .left .arrow {
  margin-left: 8px;
}

/* Second Section */
#player {
  background: #ffffff;
}
.second-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 70px 210px 28px 180px;
}
#player .second-section .blog .photo img {
  width: 300px;
  height: 256px;
}
